<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    <br>
    <h4 style="color: beige;">
        
    </h4>
  </nav>
  <h1>TRANSACTION HISTORY</h1>
  <table>
    <thead>
        <tr>
            <th>Type</th>
            <th>amount</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <th>credit</th>
            <th>1000</th>
        </tr>
        <tr>
            <th>debit</th>
            <th>1000</th>
        </tr>
    </tbody>
      
  </table>
  <br><br>
  <a routerLink="/dashboard"  style="font-size: 20px; margin-left: 880px; margin-right: 400px;"></a>
